<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/v1/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../static/v1/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/v1/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/v1/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action='/users/login' method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" type="username" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button href="index.html" class="btn btn-lg btn-success btn-block">Login</button>
                            </fieldset>
                        </form>
                        <p class="text-left">Create Account</p>
                                                                <!-- Trigger the modal with a button -->
                                <button type="button" class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#myModal">Register</button>

                                <!-- Modal -->
                                <div id="myModal" class="modal fade" role="dialog">
                                  <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Register</h4>
                                      </div>
                                      <div class="modal-body">
                                        <form class="form-horizontal" action='/users/signup' method="POST">
                                          <fieldset>
                                            
                                            <div class="control-group">
                                              <!-- Username -->
                                              <label class="control-label"  for="username">Username</label>
                                              <div class="controls">
                                                <input type="text" id="username" name="username" placeholder="" class="form-control">
                                                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                                              </div>
                                            </div>
                                         
                                            <div class="control-group">
                                              <!-- E-mail -->
                                              <label class="control-label" for="email">E-mail</label>
                                              <div class="controls">
                                                <input type="text" id="email" name="email" placeholder="" class="form-control">
                                                <p class="help-block">Please provide your E-mail</p>
                                              </div>
                                            </div>
                                         
                                            <div class="control-group">
                                              <!-- Password-->
                                              <label class="control-label" for="password">Password</label>
                                              <div class="controls">
                                                <input type="password" id="password" name="password" placeholder="" class="form-control">
                                                <p class="help-block">Password should be at least 4 characters</p>
                                              </div>
                                            </div>
                                         
                                            <div class="control-group">
                                              <!-- Password -->
                                              <label class="control-label"  for="password_confirm">Password (Confirm)</label>
                                              <div class="controls">
                                                <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="form-control">
                                                <p class="help-block">Please confirm password</p>
                                              </div>
                                            </div>

                                             <div class="control-group">
                                                <label class="control-label"  for="user_type">Role</label>
                                                <div class="controls">  
                                                    <select class="form-control" id="user_type" name="user_type">
                                                        <option>Sensing Data User</option>
                                                        <option>Sensor Owner</option>
                                                        <option>Cloud Administrator</option>
                                                    </select>
                                                <p class="help-block">Please select the user type</p>
                                                </div>
                                            </div>
                                         
                                            <div class="control-group">
                                              <!-- Button -->
                                              <div class="controls">
                                                <button class="btn btn-primary">Register</button>
                                              </div>
                                            </div>
                                          </fieldset>
                                        </form>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../static/v1/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/v1/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../static/v1/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/v1/dist/js/sb-admin-2.js"></script>

</body>

</html>